	<div id="conocenos" style="padding-top: 40px;">
		<div class="container" >
			<br><br>

			<div class="objetos" style="margin-left: 50%">
				<img class="img-responsive" src="/img/taza.png">
			</div>
			

			<div>
				<h2>Nos importa el Diseño</h2>

				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi assumenda ab dignissimos nam cupiditate, soluta perferendis quisquam quo repellat voluptatem. Repudiandae totam at quasi odit magni deserunt, laudantium ullam quae?
				</p>
			</div>
			
			<div class="objetos center-block" style="margin-right: 60%">
				<img class="img-responsive" src="/img/lapiz-negro-1.png">
			</div>
			
			<div class="iconos center-block">
				<img class="img-responsive " src="/img/conocenos-icon.png">
			</div>
			
			<div>
				<h2>Hacemos lo que amamos</h2>
				<h5>Conocenos</h5>
			</div>
		</div>
		<br>
		<div class="banda">
			<div class="container">
				<div class="row">
					<div class="perfil col-md-4 col-sm-6">
						<img class="img-circle img-responsive center-block" src="http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png">

						<h2>Luis A. Pereira</h2>
						<span>Director Comercial</span>
					</div>
					<div class="perfil col-md-4 col-sm-6">
						<img class="img-circle img-responsive center-block" src="http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png">

						<h2>Carolina Brenes</h2>
						<span>Directora Ejecutiva</span>
					</div>

					<div class="perfil col-md-4 col-sm-6">
						<img class="img-circle img-responsive center-block" src="http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png">

						<h2>Humberto Coppo</h2>
						<span>Director Creativo</span>
					</div>
					<div class="perfil col-md-4 col-sm-6">
						<img class="img-circle img-responsive center-block" src="http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png">

						<h2>Joshua Varela</h2>
						<span>Artista Gráfico</span>
					</div>
					<div class="perfil col-md-4 col-sm-6">
						<img class="img-circle img-responsive center-block" src="http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png">

						<h2>Cristhiam Núñez</h2>
						<span>Editor General</span>
					</div>
					<div class="perfil col-md-4 col-sm-6">
						<img class="img-circle img-responsive center-block" src="http://www.coordinadora.com/wp-content/uploads/sidebar_usuario-corporativo.png">

						<h2>Noel Sequeira</h2>
						<span>Artista Gráfico</span>
					</div>
				</div>
			</div>
		</div>
		<br><br><br>
	</div>