<div id="contacto" style="padding-top: 40px;">
	<div class="container">
		<div class="iconos center-block">
			<img class="img-responsive" src="img/conocenos-icon.png">
		</div>

		<div>
			<h2>Contáctanos para que conversemos<br>acerca de tu proyecto</h2>
			<br>
			<h5>Contacto</h5>
		</div>	
	</div>
	<br><br><br><br>
</div>