<% include parciales/header %>
    <section class="main">
        <% include conocenos %>
        <% include servicios %>
        <% include portafolio %>
        <% include blog %>
        <% include contacto %>
    
    </section>
<% include parciales/footer %>