	<div id="servicios" style="padding-top: 40px;">
		<div class="container">
			
			<div class="objetos" style="margin-left: 50%">
				<img class="img-responsive" src="img/camara.png">
			</div>
			
			<div class="iconos center-block">
				<img class="img-responsive" src="img/servicios-icon.png">
			</div>
			
			<div>
				<h2>Amamos lo que hacemos</h2>
				<br>
				<h5>Servicios</h5>
			</div>

			<div class="objetos center-block" style="padding-left: 4%">
				<img class="img-responsive" src="img/cuaderno-con-lapices.png">
			</div>

			<br><br>

			<div id="tab-navegacion">
				<ul class="nav nav-pills" role="tablist">
					<li role="presentation" class="active"><a data-toggle="tab" href="#serv1">Branding</a></li>
					<li role="presentation"><a data-toggle="tab" href="#serv2">Diseño Publicitario</a></li>
					<li role="presentation"><a data-toggle="tab" href="#serv3">Diseño Editorial</a></li>
					<li role="presentation"><a data-toggle="tab" href="#serv4">Diseño Nultimedia</a></li>
					<li role="presentation"><a data-toggle="tab" href="#serv5">Diseño Ilustración digital</a></li>
					<li role="presentation"><a data-toggle="tab" href="#serv6">Eventos</a></li>
				</ul>

				<div class="tab-content">
					<div id="serv1" class="tab-pane fade in active">
						<img class="img-responsive center-block" src="img/branding.png">
					</div>

					<div id="serv2" class="tab-pane fade in">
						<img class="img-responsive center-block" src="img/diseno-publicitario.png">
					</div>

					<div id="serv3" class="tab-pane fade in">
						<img class="img-responsive center-block" src="img/diseno-editorial.png">
					</div>

					<div id="serv4" class="tab-pane fade in">
						<img class="img-responsive center-block" src="img/diseno-multimedia.png">
					</div>

					<div id="serv5" class="tab-pane fade in">
						<img class="img-responsive center-block" src="img/ilustracion.png">
					</div>

					<div id="serv6" class="tab-pane fade in">
						<img class="img-responsive center-block" src="img/eventos.png">
					</div>
				</div>	
			</div>
		</div>	
		<br><br><br>
	</div>